<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'>


<?define UpgradeCode="100d64d5-8881-4787-a51e-bd187da49471"?>
<?define PRODVER="2.19.0.11"?>

<Product Name='Groestlcoin-WPF' Id='*' UpgradeCode='$(var.UpgradeCode)' Version='$(var.PRODVER)' Manufacturer='Groestlcoin' Language='1033' >
   	<Package Id='*' Keywords='Installer' Description="Groestlcoin Installer" Comments='Groestlcoin-WPF' Manufacturer='Groestlcoin' InstallerVersion='301' Compressed='yes'  />

	<UIRef Id="WixUI_InstallDir" />


	<Upgrade Id='$(var.UpgradeCode)'>
		<UpgradeVersion OnlyDetect="yes" Minimum="$(var.PRODVER)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
		<UpgradeVersion OnlyDetect="no" Maximum="99.0.0.0" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="no" />
	</Upgrade>

    <Icon Id="Groestlcoin.ico" SourceFile="images\groestlcoin.ico" />

	<Property Id="ARPPRODUCTICON" Value="Groestlcoin.ico" />
   	<Property Id='DiskPrompt' Value="Groestlcoin-WPF" />
	<Property Id="ARPHELPLINK" Value="http://www.groestlcoin.org/downloads/" />
	<Property Id="ARPURLINFOABOUT" Value="http://www.groestlcoin.org/downloads/" />
	<Property Id="ARPURLUPDATEINFO" Value="http://www.groestlcoin.org/downloads/" />
    <Property Id="LAUNCHPRODUCT">1</Property>
	<Property Id="ARPNOREPAIR" Value="1" />
<!--	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />-->


    <Property Id="INSTALLDIR">
        <RegistrySearch Id="FindInstallLocation" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[OLDERVERSIONBEINGUPGRADED]" Name="InstallLocation" Type="raw" />
    </Property>


   	<Directory Id='TARGETDIR' Name='SourceDir'>
<?if $(sys.BUILDARCH) = x64 ?>
		<Directory Id='ProgramFiles64Folder' Name='PFiles'>
   			<Directory Id='INSTALLDIR' Name='Groestlcoin-WPF' />
		</Directory>
<?else ?>
		<Directory Id='ProgramFilesFolder' Name='PFiles'>
   			<Directory Id='INSTALLDIR' Name='Groestlcoin-WPF' />
		</Directory>
<?endif ?>

  		<Directory Id="ProgramMenuFolder" Name="Programs" />
   		<Directory Id="DesktopFolder" Name="Desktop" />
	</Directory>

<?if $(sys.BUILDARCH) = x64 ?>
	<Media Id="1" Cabinet="x64.cab" EmbedCab="yes" CompressionLevel="high"/>

	<Component Id='CMP_Groestlcoin' Guid='d40983c1-f860-42fa-9dfd-67bc4302f87c' Directory='INSTALLDIR' >
		<File Id="Groestlcoin_WPF.exe" Source="..\..\x64_R_St\Groestlcoin-WPF.exe"	KeyPath='yes' 		>
			<Shortcut Id="startmenuGroestlcoin" 	Directory="ProgramMenuFolder" 	Name="Groestlcoin-WPF" Icon="Groestlcoin.ico" IconIndex="0" Advertise="yes" />
			<Shortcut Id="desktopGroestlcoin" 		Directory="DesktopFolder"  		Name="Groestlcoin-WPF" Icon="Groestlcoin.ico" IconIndex="0" Advertise="yes" />
		</File>
		<File Source="..\..\x64_R_St\coineng.dll" 					/>
		<File Source="..\..\x64_R_St\Hardcodet.Wpf.TaskbarNotification.dll"	/>


<!--!!!T
		<File Source="..\..\x64_R_St\groestlcoin-miner.exe" 		/>
		<File Source="..\..\miner-example.cmd"						/>
-->
		<File Source="help\Groestlcoin-WPF.htm"						/>
	</Component>
<?else ?>
	<Media Id="1" Cabinet="x86.cab" EmbedCab="yes"/>

	<Component Id='CMP_Groestlcoin' Guid='0f8d7055-41f1-4558-a6c9-ba9eb2e39c6f' Directory='INSTALLDIR' >
		<File Id="Groestlcoin_WPF.exe" Source="..\..\x86_R_St\Groestlcoin-WPF.exe"	KeyPath='yes' 		>
			<Shortcut Id="startmenuGroestlcoin" 	Directory="ProgramMenuFolder" 	Name="Groestlcoin-WPF" Icon="Groestlcoin.ico" IconIndex="0" Advertise="yes" />
			<Shortcut Id="desktopGroestlcoin" 		Directory="DesktopFolder"  		Name="Groestlcoin-WPF" Icon="Groestlcoin.ico" IconIndex="0" Advertise="yes" />
		</File>
		<File Source="..\..\x86_R_St\coineng.dll" 					/>
		<File Source="..\..\x64_R_St\Hardcodet.Wpf.TaskbarNotification.dll"	/>
		<File Source="..\..\x86_R_St\groestlcoin-miner.exe" 		/>
		<File Source="..\..\miner-example.cmd"						/>
		<File Source="help\Groestlcoin-WPF.htm"						/>
	</Component>
<?endif ?>


 	<CustomAction Id="NewerVersionDetected" Error="There is a later version of this product installed"/>
	<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
	<CustomAction Id='LaunchFile' FileKey='Groestlcoin_WPF.exe' ExeCommand='' Return="asyncNoWait" />


	<InstallUISequence>
    	<AppSearch After="FindRelatedProducts"/>
	</InstallUISequence>


	<PropertyRef Id="NETFRAMEWORK45"/>

	<Property Id="WixShellExecTarget" Value="https://www.microsoft.com/en-us/download/details.aspx?id=42642" />
	<CustomAction Id="OpenNetfxUrl" BinaryKey="WixCA" DllEntry="WixShellExec"/>

 	<CustomAction Id="NetfxAbortError" Error="This application requires .NET Framework 4.5 or later. Please install the .NET Framework then run this installer again."/>

	<InstallExecuteSequence>
		<Custom Action="OpenNetfxUrl" Before="InstallInitialize"><![CDATA[(NOT NETFRAMEWORK45)]]></Custom>
		<Custom Action="NetfxAbortError" After="InstallInitialize"><![CDATA[(NOT NETFRAMEWORK45)]]></Custom>

		<Custom Action="NewerVersionDetected" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
		<RemoveExistingProducts After="InstallInitialize" />
		<InstallFiles/>
		<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
		<SelfRegModules/>
		<Custom Action='LaunchFile' After='InstallFinalize'>LAUNCHPRODUCT</Custom>
	</InstallExecuteSequence>


	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

   	<Feature Id='Complete' Level='1' Title='Groestlcoin-WPF'>
   		<ComponentRef Id='CMP_Groestlcoin' />
   	</Feature>

</Product>
</Wix>
