# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


.vs/
src/coin/.vs
x64_R_St/
x64_D_St/
x86_R_St/
x86_D_St/
obj/
*.vcxproj.user
*.csproj.user
*.msi
*.wixobj
*.wixpdb
launchSettings.json

