<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'>


<?define UpgradeCode="{55534654-3F35-46d9-0101-54BAFC250900}"?>
<?define PRODVER="0.114"?>

<Product Name='Ufasoft GroestlCoin-WPF' Id='*' UpgradeCode='$(var.UpgradeCode)' Version='$(var.PRODVER)' Manufacturer='Ufasoft' Language='1033' Codepage='1252'>

   	<Package Id='*' Keywords='Installer' Description="Ufasoft GroestlCoin Installer"
   			Comments='Ufasoft' Manufacturer='Ufasoft'
  			InstallerVersion='200' Languages='1033' Compressed='no' SummaryCodepage='1252' />


	<Upgrade Id='$(var.UpgradeCode)'>
		<UpgradeVersion OnlyDetect="yes" Minimum="$(var.PRODVER)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
		<UpgradeVersion OnlyDetect="no" Maximum="99.0.0.0" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="no" />
	</Upgrade>


   	<Property Id='DiskPrompt' Value="Ufasoft GroestlCoin-WPF" />
	<Property Id="ARPHELPLINK" Value="http://ufasoft.com/coin" />
	<Property Id="ARPURLINFOABOUT" Value="http://ufasoft.com/coin" />
	<Property Id="ARPURLUPDATEINFO" Value="http://ufasoft.com/coin" />
    <Property Id="LAUNCHPRODUCT">1</Property>
	<Property Id="ARPNOREPAIR" Value="1" />

    <Property Id="INSTALLDIR">				<!-- Find previous installation -->
      <RegistrySearch Id="FindInstallLocation"
          Root="HKLM"
          Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[OLDERVERSIONBEINGUPGRADED]"
          Name="InstallLocation"
          Type="raw" />
    </Property>

	<Media Id="1" />

   	<Directory Id='TARGETDIR' Name='SourceDir'>
<?if $(sys.BUILDARCH) = x64 ?>
		<Directory Id='ProgramFiles64Folder' Name='PFiles'>
	  		<Directory Id='Ufasoft' Name='Ufasoft'>
    			<Directory Id='INSTALLDIR' Name='GroestlCoin-WPF' />
  			</Directory>
		</Directory>
<?else ?>
		<Directory Id='ProgramFilesFolder' Name='PFiles'>
	  		<Directory Id='Ufasoft' Name='Ufasoft'>
    			<Directory Id='INSTALLDIR' Name='GroestlCoin-WPF' />
  			</Directory>
		</Directory>
<?endif ?>

  		<Directory Id="ProgramMenuFolder" Name="Programs">
   			<Component Id="ProgramMenuDir" Guid="55534654-3F35-46d9-0102-54BAFC251102">
			 	<Shortcut Id="startmenuCoin" Name="Ufasoft GroestlCoin-WPF" Target="[INSTALLDIR]\GroestlCoin-WPF.exe" WorkingDirectory='INSTALLDIR' Icon="CoinIcon" IconIndex="0" />

				<RegistryKey Id='RegistryHkcuCoin' Root='HKCU' Key='Software\Ufasoft\GroestlCoin-WPF' ForceCreateOnInstall="yes">
					<RegistryValue Name='InstallDir' Type='string' Value='[INSTALLDIR]' KeyPath='yes' />
       				<RegistryValue Type='string' Value=''/>
				</RegistryKey>
   			</Component>
  		</Directory>

   		<Directory Id="DesktopFolder" Name="Desktop" />

		<Component Id="DesktopShortcut" Guid="55534654-3F35-46d9-0102-54BAFC250409">
			<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\GroestlCoin-WPF' Type='string' Name='DesktopKey' Value='yes' KeyPath='yes' />
    		<Shortcut Id="desktopCoin" Directory="DesktopFolder" Name="Ufasoft GroestlCoin-WPF" Target="[INSTALLDIR]\GroestlCoin-WPF.exe" WorkingDirectory='INSTALLDIR' Icon="CoinIcon" IconIndex="0"  />
		</Component>
	</Directory>

<?if $(sys.BUILDARCH) = x64 ?>
	<Component Id='CMP_Groestlcoin_x64' Guid='55534654-3F35-46d9-1102-54BAFC250406' Directory='INSTALLDIR' >
		<File Source="..\..\..\x64_R_St\coineng.dll" 					/>
		<File Source="..\..\..\x64_R_St\interop.coineng.dll"			/>
		<File Source="..\..\..\x64_R_St\Groestlcoin-WPF.exe"			/>
		<File Source="..\..\..\x64_R_St\groestcoin-miner.exe" 			/>
		<File Source="..\..\..\miner-example.cmd"						/>
		<File Source="..\help\groestlcoin-wpf.htm 						/>
	</Component>
<?else ?>
	<Media Id="2" Cabinet='x86.cab' CompressionLevel='none' />

	<Component Id='CMP_Groestlcoin_x86' Guid='55534654-3F35-46d9-1102-54BAFC250405' Directory='INSTALLDIR' >
		<File Source="..\..\..\x86_R_St\coineng.dll" 					/>
		<File Source="..\..\..\x86_R_St\interop.coineng.dll" 			/>
		<File Source="..\..\..\x86_R_St\Groestlcoin-WPF.exe"			/>
		<File Source="..\..\..\x86_R_St\groestcoin-miner.exe" 			/>
		<File Source="..\..\..\miner-example.cmd"						/>
		<File Source="..\help\groestlcoin-wpf.htm 						/>
	</Component>
<?endif ?>


 	<CustomAction Id="NewerVersionDetected" Error="There is a later version of this product installed"/>
	<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" /> 
	<CustomAction Id='LaunchFile' FileKey='GroestlCoin-WPF.exe' ExeCommand='' Return="asyncNoWait" />

	<CustomActionRef Id="WixExitEarlyWithSuccess" />
	
	<InstallUISequence>
    	<!-- App search is what does FindInstallLocation, and it is dependent on FindRelatedProducts -->
    	<AppSearch After="FindRelatedProducts"/> 
		<Custom Action="WixExitEarlyWithSuccess" OnExit="success"  />
	</InstallUISequence>

	<AdminUISequence>
		<Custom Action="WixExitEarlyWithSuccess" OnExit="success"  />
	</AdminUISequence>


	<PropertyRef Id="NETFRAMEWORK40CLIENT"/>

	<Property Id="WixShellExecTarget" Value="http://www.microsoft.com/download/en/details.aspx?id=17718" />
	<CustomAction Id="OpenNetfxUrl" BinaryKey="WixCA" DllEntry="WixShellExec"/>

 	<CustomAction Id="NetfxAbortError" Error="This application requires .NET Framework 4.0 or later. Please install the .NET Framework then run this installer again."/>

 	<CustomAction Id='UninstallService' FileKey='namecoin_dns.exe' ExeCommand=' -u' Return='ignore' />

	<InstallExecuteSequence>
		<Custom Action="OpenNetfxUrl" Before="InstallInitialize"><![CDATA[(NOT NETFRAMEWORK40CLIENT)]]></Custom>
		<Custom Action="NetfxAbortError" After="InstallInitialize"><![CDATA[(NOT NETFRAMEWORK40CLIENT)]]></Custom>

		<Custom Action="NewerVersionDetected" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
		<RemoveExistingProducts After="InstallInitialize" />  
		<InstallFiles/>
		<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
		<SelfRegModules/>
		<Custom Action='LaunchFile' After='InstallFinalize'>LAUNCHPRODUCT</Custom> 

		<Custom Action="UninstallService" Before="RemoveFiles">REMOVE="ALL"</Custom>
	</InstallExecuteSequence>


	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" /> 

   	<Feature Id='Complete' Level='1'>
<?if $(sys.BUILDARCH) = x64 ?>
   		<ComponentRef Id='CMP_Groestlcoin_x64' />
<?else ?>
   		<ComponentRef Id='CMP_Groestlcoin_x86' />
<?endif ?>
   		<ComponentRef Id='ProgramMenuDir' />
   		<ComponentRef Id='DesktopShortcut' />
   	</Feature>

    <Icon Id="GroestlcoinIcon" SourceFile="..\ui\images\groestlcoin.ico" />
	<Property Id="ARPPRODUCTICON" Value="GroestlcoinIcon" />
</Product>
</Wix>

